body {
  background-color: #F36791;
  display: flex;
  height: auto;
  justify-content: center;
  align-content: center;
}

.contenedor {
  display: flex;
  width: 99%;
  border: 2px solid;
  border-color: red;
  justify-content: center;
  flex-direction: column;
}

.encabezado {
  display: flex;
  width: 96%;
  height: auto;
  justify-content: center;
  background-color: #f48fb1;
  padding: 2%;
}

.menu {
  width: 80%;
  display: flex;
  flex-direction: row;
  color: #EEFDE1;
}

.menu a {
  display: flex;
  border: 2px solid;
  border-color: red;
  border-radius: 10%;
  width: 20%;
  justify-content: center;
  font-size: 1rem;
  background-color: #DB007C;
  color: #200012;
  padding: 1%;
}

a:hover {
  border-color: white;
  background-color: #200012;
  color: #DB007C;
  transform: scale(1.3);
}

.seccion1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.seccion1 img {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 25%;
}

.seccion1 p {
  position: absolute;
  flex-direction: row;
  top: 30%;
  width: 80%;
  color: #200012;
  font-weight: 400;
  font-size: 2rem;
}

.seccion2, .seccion3, .seccion4 {
  display: flex;
  border: 2px solid;
  border-color: red;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 3%;
  color: #EEFDE1;
}

.seccion2 h1 {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  font-size: 3rem;
  justify-content: center;
  margin: 2%;
  color: #200012;
}
h1:hover{
  color: pink;
}

.apartado1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.apartado1 img {
  display: inline-flex;
  width: 45%;
  padding: 1%;
  margin: 1%;
}

.apartado1 p {
  display: inline-flex;
  width: 45%;
  padding: 1%;
  margin: 1%;
  font-size: 2rem;
}

h2 {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  font-size: 2rem;
  justify-content: center;
  margin: 2%;
  color: #200012;
}

.seccion3 iframe {
  background-color: #f48fb1;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 70%;
}

.seccion3 {
  background-color: #A6F367;
}

.seccion4 .formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.formulario input, textarea {
  width: 40%;
  margin: 1%;
}

@media (max-width:768px) {
  .menu a {
    font-size: .6rem;
  }
  .seccion1 p {
    font-size: 1.5rem;
    top: 15%;
  }
  .seccion2 p {
    font-size: 1rem;
  }
}

@media (max-width:480px) {
  .seccion1 p {
    font-size: .7rem;
    top: 12%;
  }
  .seccion2 p {
    font-size: .7rem;
  }
}

@media (max-width:320px) {
  .seccion2 {
    display: none;
  }
  .seccion3 {
    background-color: pink;
  }
  .seccion4 {
    background-color: #A6F367;
  }
  .seccion1 p {
    font-size: .3rem;
  }
  .seccion1 img {
    height: 30%;
  }
  /*hanbur*/
  .encabezado.responsive {position: relative;}
  .encabezado.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .encabezado.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}


/*hamburguesa*/


.encabezado .icon {
  display: none;
}
